section.manage-job{
      background-color: #E0F2F1;
      border-radius: 30px;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      gap: 2vw;
}
.manage-job section:nth-child(2).joblist, .manage-job section:nth-child(3).job-choices {
      border: 0.25vw solid #80CBC4;
      border-radius: 20px;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
}
.manage-job section:nth-child(2).joblist > p{
      background-color: pink;
      padding: 2vw;
      border-radius: 30px;
}
.manage-job section:nth-child(3).job-choices {
      height: 20vh;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow-y: scroll
}

.manage-job section:nth-child(3).job-choices{
      --size: 1rem;
      --background: #fff;
      font-size: var(--size);
      padding: 2vw;
}
.manage-job section:nth-child(3).job-choices *,
.manage-job section:nth-child(3).job-choices *::after,
.manage-job section:nth-child(3).job-choices *::before {
      box-sizing: border-box;
}
.manage-job section:nth-child(3).job-choices input[type="checkbox"] {
      visibility: hidden;
      
}
.manage-job section:nth-child(3).job-choices span {
      width: var(--size);
      
}
.manage-job section:nth-child(3).job-choices span:before{
      content: ' ';
      display: block;
      height: var(--size);
      width: var(--size);
      position: absolute;
      top: calc(var(--size) * 0.125);
      left: 0;
      background: var(--background);  
}
.manage-job section:nth-child(3).job-choices span:after {
      content: ' ';
      display: block;
      height: var(--size);
      width: var(--size);
      border: calc(var(--size) * .15) solid #035445;
      transition: 200ms;
      position: absolute;
      top: calc(var(--size) * 0.125);
      left: 0;
      background: var(--background);  
}
.manage-job section:nth-child(3).job-choices span:checked{
      border-top-style: none; 
      border-right-style: none;
      -ms-transform: rotate(-45deg); /* IE9 */
      transform: rotate(-45deg);
      height: calc(var(--size) * .5);
      border-color: green;
}
.manage-job section:nth-child(3).job-choices input:checked ~ span:after {
      border-top-style: none; 
      border-right-style: none;
      -ms-transform: rotate(-45deg); /* IE9 */
      transform: rotate(-45deg);
      height: calc(var(--size) * .5);
      border-color: green;
}
.manage-job section:nth-child(3).job-choices label {
      position: relative;
      display: flex;
      cursor: pointer;
      /* Mobile Safari: */
      -webkit-tap-highlight-color: #035445;   
}
.manage-job section:nth-child(3).job-choices span:after:hover,
.manage-job section:nth-child(3).job-choices span:after:active {
   border-color: green; 
}

.manage-job section:nth-child(3).job-choices span {
  margin-right: calc(var(--size) * 0.45);
}
  