main.profile-wrapper {
      overflow: auto;
      background-color: #80cbc4;
      display: flex;
      flex-direction: column;
      font-size: 2vw;
}

main.profile-wrapper header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
/*  */
main.profile-wrapper header span {
      font-size: 2.5em;
      font-weight: 600;
      padding-top: 2vw;
      align-self: center;
}

main.profile-wrapper header span:nth-child(3) {
      font-size: 1.5em;
      font-weight: 100;
      padding: 2vw 5vw 5vw 5vw;
}

main.profile-wrapper header img{
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      max-width: 30%;
      height: auto;
}

main.profile-wrapper main {
      padding: 1.5em;
      row-gap: 1em;
      background-color: white;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      display: flex;
      flex-direction: column;
}

main.profile-wrapper main section {
      background-color: #EAFCFF;
      object-fit: contain;
      padding: 0.5em;
      border-radius: 50px;
      gap: 1em;
      display: grid;
      grid-template-columns: 1.5fr 3fr;
      grid-template-rows: auto;
}
main.profile-wrapper main section b {
      background-color: #80CBC4;
      font-size: 1.5em;
      border-radius: 50px;
      padding: 0vw 1em ;
}
main.profile-wrapper main section span {
      font-size: 1.5em;
      align-self: center;
}

main.profile-wrapper section.jobtype{
      grid-template-areas: 
            'topic topic'
            'job job';
}
main.profile-wrapper section.jobtype b{
      grid-area: topic;
}
main.profile-wrapper section.jobtype section{
      grid-area: job;
      display: flex;
      flex-wrap: wrap;
}
main.profile-wrapper section.jobtype section span{
      background-color: pink;
      padding: 0.25em;
      border-radius: 10px;
}
main.profile-wrapper section.descript{
      grid-template-areas: 
            'topic descript descript'
            '. descript descript';
}
main.profile-wrapper section.descript > b {
      grid-area: topic;
}
main.profile-wrapper section.descript > span {
      grid-area: descript;
}
main.profile-wrapper footer {
      padding: 1em;
      display: flex;
      align-self: center;
}
main.profile-wrapper footer button {
      appearance: button;
      background-color: #00897B;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
      border: 1px solid #00897B;
      border-radius: 1rem;
      box-shadow: rgba(3, 84, 69, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Inter,sans-serif;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
      padding: 0.25em 1em;
      text-align: center;
      text-transform: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
}
main.profile-wrapper footer button:focus:not(:focus-visible),
main.profile-wrapper footer button:focus {
      outline: 0;
}
main.profile-wrapper footer button:hover {
      background-color: #00897B;
      border-color: #00897B;
}
main.profile-wrapper footer button:focus {
      background-color: #80CBCE;
      border-color: #93c9ca;
      box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}
main.profile-wrapper footer button:active {
      background-color: #519ea1;
      background-image: none;
      border-color: #5bc6cc;
      box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}
main.profile-wrapper footer button:focus {
      box-shadow: rgba(3, 84, 69, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}
main.profile-wrapper footer button:disabled {
      background-image: none;
      box-shadow: none;
      opacity: 0.65;
      pointer-events: none;
}
@media (min-width: 600px) {
      main.profile-wrapper {
            padding: 0px;
            display: grid;
            grid-template-columns: 1.5fr 2fr;
            height: 100vh;
      }
      main.profile-wrapper header span {
            font-size: min(2.5em, 30px);
      }
      main.profile-wrapper header span:nth-child(3) {
            font-size: 18px;
      }
      main.profile-wrapper main section b {
            font-size: 18px;
      }
      main.profile-wrapper main section span {
            font-size: 18px;
      }
      main.profile-wrapper footer button {
            font-size: 20px;
      }
      main.profile-wrapper main {
            row-gap: 0.5em;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 30px;
      }
      main.profile-wrapper main section {
            padding: 1vw;
      }
}

