.rating-wrapper {
    height: calc(100vh - 144px);
    overflow: auto;
  }
  
  .ratingbox-wrapper {
    width: 85vw;
    margin: 0 auto;
  }
  
  .ratingbox-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: #e0f2f1;
    margin: 12px 0;
    border-radius: 20px;
  }
  
  .ratingbox-avatar {
    text-align: center;
  }
  
  .ratingbox-header header {
    font-weight: bold;
    text-align: center;
  }
  .ratingbox-header p {
    font-size: 12px;
    font-weight: bold;
    color: #00897b;
    text-align: center;
  }
  
  .ratingbox-form label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .ratingbox-form label span {
    width: 84px;
    font-weight: bold;
    color: #00897b;
  }
  
  .ratingbox-options {
    display: flex;
  }
  .ratingbox-options label input {
    display: none;
  }