section.recommend-box{
      display: flex;
      width: 95vw;
      flex-direction: row;
      overflow-x: scroll;
}
.recommend-box figure {
      margin: 0 2vw;
}
.recommend-box figure img{
      width: 15vw;
      aspect-ratio: 1/1;
      border-radius: 50%;
}