.rdp {
      --rdp-cell-size: 10vw;
      --rdp-caption-font-size: 30px;
      --rdp-accent-color: #f87ca1;
      --rdp-background-color: #f87ca148;
      font-size: larger;
}
.calendar {
      /*width: fit-content;*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #035445;
      background-color: #E0F2F1;
      border-radius: 30px;
}
main .profile-box {
      display: flex;
      flex-direction: column;
      gap: 15px;
}
.customer-box {
      display: grid;
      grid-template-columns: 15% auto;
      border-radius: 30px;
      box-shadow: rgba(0, 137, 123, 0.25) 0px 4px 5px 3px;
}
.customer-box section:nth-child(1) {
      font-size: x-large;
      text-align: center;
      align-self: center;
      color: #00897B;
}
.customer-box section:nth-child(2) {
      display: grid;
      grid-template-columns: 30% auto;
      grid-template-rows: 1fr 2fr;
      gap: 2%;
      padding: 2%;
      background-color: #E0F2F1;
      border-radius: inherit;
}
.customer-box img {
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      max-width: 100%;
      height: auto;
      grid-row: 1 / 3;
      align-items: center;
      align-self: center;
  }
/*.customer-box section:nth-child(2) article section{
      border: 2px solid pink;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}*/
.customer-box section:nth-child(2) header {
      font-size:large;
}
.customer-box section:nth-child(2) section {
      font-size: 1%;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(2, 1fr);
      gap: 2%;
}
.customer-box section:nth-child(2) section p{
      background-color: rgba(255, 190, 215, 50);
      border-radius: 3px;
      padding: 5%;
      text-align: center;
}
footer {
      font-size: larger;
      color: #035445;
}