.register {
  background-color: #80cbc4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 2vw;
}
.register > main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-y: scroll;
}
.register h1 {
  color: #00897b;
  font-size: 2.5em;
}
.register section.signup-form {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  width: 100%;
}
.register section.signup-form > label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register section.signup-form > label > label {
  font-size: 1.5em;
}
section.signup-form b {
  font-size: 1.5em;
}
section.signup-form > section > section {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
section.signup-form > section > section > label {
  /*display: flex;
      padding: 1vw;
      background-color: #E0F2F1;
      border-radius: 20px;*/
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
section.signup-form > section > section > label input {
  position: absolute;
  left: -9999px;
}
section.signup-form > section > section > label input:checked + span {
  background-color: #e0f2f1;
}
section.signup-form > section > section > label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #e1829b;
}
section.signup-form > section > section > label span {
  display: flex;
  align-items: center;
  /* padding: 0.2em 0.5em 0.2em 0.2em; */
  border-radius: 99em;
  transition: 0.25s ease;
  font-size: 1.5em;
}
section.signup-form > section > section > label span:hover {
  background-color: #ffbed7;
}
section.signup-form > section > section > label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #e1829b;
}
.register input:not(.birthday),
.register textarea {
  appearance: none;
  border: none;
  /*outline: none;*/
  -webkit-appearance: none;
  background-color: #e0f2f1;
  border-radius: 30px;
  caret-color: #00897b;
  transition: border 0.3s ease;
  padding: 1.5vw;
  font-size: 1.5em;
  &:focus {
    outline: none;
    box-shadow: #00897b 0px 1px 2px 0px, #00897b 0px 1px 4px 1px;
  }
  resize: none;
}
.register button.select-map {
  font-size: 1em;
  padding: 0.25vh 3vw;
  text-align: center;
  background-color: #ffbed7;
  border-radius: 30px;
  color: black;
  border: none;
}
section.signup-form label.birthday-label input {
  appearance: none;
  border: none;
  background-color: #e0f2f1;
  font-size: 1.5em;
  color: black;
}
section.signup-form label.birthday-label > section {
  background-color: #e0f2f1;
  border-radius: 30px;
  padding: 1.5vw;
  font-size: 1em;
  color: #e1829b;
  gap: 2vw;
}
.register button {
  appearance: button;
  background-color: #00897b;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #00897b;
  border-radius: 1rem;
  box-shadow: rgba(3, 84, 69, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 0.5vh 5vw;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.register button:focus:not(:focus-visible),
.register button {
  outline: 0;
}
.register button:hover {
  background-color: #00897b;
  border-color: #00897b;
}
.register button:focus {
  background-color: #80cbce;
  border-color: #93c9ca;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}
.register button:active {
  background-color: #519ea1;
  background-image: none;
  border-color: #5bc6cc;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}
.register button:focus {
  box-shadow: rgba(3, 84, 69, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}
.register button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
.register .map-container {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.register .footer-2 {
  display: flex;
  flex-direction: column;
}
.register .addjob-form {
  max-width: 50vh;
  min-width: 50vh;
}
.register .button-2 {
  position: relative;
  margin-top: 5vh;
  align-self: flex-end;
}

.back-to-login a {
  font-size: min(1em, 20px);
  color: #e1829b;
}

@media (min-width: 600px) {
  .register {
    justify-content: center;
    align-items: center;
  }
  .register h1 {
    font-size: 40px;
  }
  .register > main {
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 30px;
    margin: 2em;
    padding: 2em;
  }
  .register .map-container {
    top: none;
    left: none;
    transform: none;
  }
  .register > main section.signup-form {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "role gender"
      "fname lname"
      "bd aboutme"
      "tel mail"
      "address moreinfo"
      "pw checkpw"
      ". button";
    gap: 1em;
  }
  .register section.signup-form > section:nth-child(1) {
    grid-area: role;
  }
  .register section.signup-form > section:nth-child(2) {
    grid-area: gender;
  }
  .register section.signup-form > label:nth-child(3) {
    grid-area: fname;
  }
  .register section.signup-form > label:nth-child(4) {
    grid-area: lname;
  }
  .register section.signup-form > label:nth-child(5) {
    grid-area: bd;
  }
  .register section.signup-form > label:nth-child(6) {
    grid-area: aboutme;
  }
  .register section.signup-form > label:nth-child(7) {
    grid-area: tel;
  }
  .register section.signup-form > label:nth-child(8) {
    grid-area: mail;
  }
  .register section.signup-form > label:nth-child(9) {
    grid-area: address;
  }
  .register section.signup-form > label:nth-child(10) {
    align-self: end;
    grid-area: moreinfo;
  }
  .register section.signup-form > label:nth-child(11) {
    grid-area: pw;
  }
  .register section.signup-form > label:nth-child(12) {
    grid-area: checkpw;
    padding-bottom: 1em;
  }
  .register button {
    justify-self: end;
    grid-area: button;
    font-size: 18px;
  }
  .register h1 {
    justify-self: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  section.signup-form > section > section > label input {
    position: absolute;
    left: -9999px;
  }
  section.signup-form > section > section > label input:checked + span {
    background-color: #e0f2f1;
  }
  section.signup-form > section > section > label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #e1829b;
  }
  section.signup-form > section > section > label span {
    display: flex;
    align-items: center;
    /* padding: 0.375em 0.75em 0.375em 0.375em; */
    border-radius: 99em;
    transition: 0.25s ease;
    font-size: 16px;
  }
  section.signup-form > section > section > label span:hover {
    background-color: #ffbed7;
  }
  section.signup-form > section > section > label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    /* margin-right: 0.375em; */
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #e1829b;
  }
  .register input:not(.birthday),
  .register textarea {
    padding: 0.5vw;
    font-size: 16px;
  }
  section.signup-form label.birthday-label input {
    font-size: 18px;
    color: black;
  }
  section.signup-form label.birthday-label > section {
    padding: 0vw;
    /* font-size: 1.5vw; */
    gap: 1.5vw;
  }
  section.signup-form label.birthday-label input {
    font-size: 16px;
  }
  section.signup-form label.birthday-label > section {
    padding: 0.5vw;
    font-size: 16px;
  }
  .register section.signup-form > label > label {
    font-size: 16px;
  }
  section.signup-form b {
    font-size: 16px;
  }
  .register button.select-map {
    font-size: 16px;
  }
}
