h1 {
  font-weight: bold;
  color: #00897b;
  font-style: italic;
}

.signup-wrapper {
  background-color: #80cbc4;
  width: 100%;
  height: 100vh;
  padding-top: 72px;
}

.signup-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="date"],
.signup-form input[type="radio"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  box-sizing: border-box;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #45a049;
}

.signup-form p {
  color: red;
  margin-top: 5px;
  margin-bottom: 15px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin-bottom: 10px;
}

.popup button {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #45a049;
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  background-color: #e0f2f1;
  border-radius: 10px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 20%;
  left: 5%;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px #e1829b solid;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #e1829b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
}
.radio-options {
  display: flex;
  gap: 20px;
}
