div.customer-main {
  overflow: auto;
  background-color: #80cbc4;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}
.customer-main > header {
  padding-bottom: 5vw;
  padding-left: 2em;
  padding-right: 2em;
}
.customer-main > header > p {
  font-size: min(2em, 25px);
  font-weight: 600;
}

.customer-main main {
  padding: min(1em, 20px);
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.customer-main > main > header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.customer-main > main header label {
  display: flex;
  gap: 0.25em;
}
.customer-main > main > header > label span, .category_list span {
  font-size: min(1.5em, 18px);
}
.customer-main > main header label > select {
  font-size: min(1.5em, 18px);
  border-radius: 10px;
  border: 0.2em solid palevioletred;
  padding: min(0.25em, 20px);
  width: auto;
  height: min(100%, 50px);
}

.customer-main .category_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  list-style-type: none;
  font-size: min(0.5em, 16px);
  overflow-y: scroll;
  scrollbar-width: none;
  height: min(15em, 80px);
  width: auto;
  border: min(0.5em, 3px) solid palevioletred;
  border-radius: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.customer-main > main header label > .category_list li {
  background-color: #ffbed798;
  padding: 0.25em;
  border-radius: 10px;
  cursor: pointer;
  font-size: min(2.5em, 16px);
}

.customer-main > .main-profilebox-wrapper {
  padding: 1em;
}

.main-profilebox-wrapper header {
  font-size: 2em;
  font-weight: 600;
  padding: 0.5em;
}

.main-profilebox-wrapper > a {
  padding: min(1em, 20px);
  background-color: #e0f2f1;
  display: grid;
  grid-template-columns: 25% auto;
  border-radius: 30px;
}
.main-profilebox-wrapper img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  grid-row: 1 / 2;
  align-items: center;
  align-self: center;
}
.main-profilebox-content {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.main-profilebox-content > article {
  display: flex;
  flex-direction: column;
}
.main-profilebox-content > article > section > span {
  font-size: min(1.5em, 18px);
}
.main-profilebox-content > article header{
  font-size: min(2.5em, 20px);
}
.main-profilebox-content .main-job-chips {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: min(1em, 14px);
}
.main-profilebox-content .main-job-chips span {
  background-color: #ffbed798;
  padding: 0.25em;
  border-radius: 10px;
}

.main-profilebox-content article header {
  padding-left: 0vw;
}

@media (min-width: 600px) {
  div.customer-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5em;
    background-color: white;
    padding: 2em 2.5em 2.5em 2.5em;
    width: auto;
  }
  .customer-main > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #80cbc4;
    border-radius: 30px;
    height: 70vh;
  }
  .customer-main > main {
    border-radius: 30px;
    border: 0.2em solid #80cbc4;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-left: 5em;
    padding-right: 5em;
    height: 70vh;
  }
}